@model IEnumerable<Url>

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-5">
			<h2 class="text-primary">Url List</h2>
		</div>
		<span id="afterCopyText" class="col-2 text-center py-2" style="visibility: hidden;"></span>
		<div class="col-5 text-end">
			<a asp-action="Create" class="btn btn-primary">
				<i class="fa-solid fa-plus"></i> &nbsp; Create a new Url
			</a>
		</div>
	</div>

	<br /> <br />

	@if (Model.Count() > 0)
	{
		<table class="table table-bordered table-striped" width="100%">
			<thead>
				<tr>
					<th>
						Value (long)
					</th>
					<th>
						Value (short)
					</th>
					<th>
						Created date
					</th>
					<th>
						Follow count
					</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var el in Model)
				{
					<tr>
						<td width="25%">@el.LongValue</td>
						<td width="25%">@el.ShortValue</td>
						<td width="20%">@el.DateCreated</td>
						<td width="10%">@el.FollowCount</td>
						<td class="text-center">
							<div class="w-30 btn-group" role="group">
								<a asp-action="Update" asp-route-id="@el.Id" class="btn btn-light mx-3">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
								<a type="button" asp-route-id="@el.Id" class="btn btn-danger mx-3" data-bs-toggle="modal"
									data-bs-target="#deleteModal" onclick="selectItem(@el.Id)">
									<i class="fa-solid fa-trash-can"></i>
								</a>
								<a type="button" class="btn btn-outline-success mx-3"
									onclick="copyToClipboardLinkByValue(@el.ShortValue)">
									<i class="fa-regular fa-clipboard"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}

	@if (Model.Count() == 0)
	{
		<p>Url is not exists</p>
	}

	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLebel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body text-center">
					<h5>
						Delete this item?
					</h5>
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-danger" onclick="deleteItemBySelectedId()"
						data-bs-dismiss="modal">Delete</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	let idSelectedItem = 0;

	function selectItem(id) {
		idSelectedItem = id;
	}

	function deleteItemBySelectedId() {
		fetch('/url/delete/?id=' + idSelectedItem, {
			method: "DELETE"
		});

		setInterval(func => { location.reload() }, 100);
	}

	function copyToClipboardLinkByValue(value) {
		navigator.clipboard.writeText("https://localhost:7020/url/" + value).then(function () {
			showTextAfterCopyInTime("Link in clipboard!", 2000);
		}, function (err) {
			showTextAfterCopyInTime("Error!", 2000);
		});
	}

	function showTextAfterCopyInTime(text, ms) {
        let afterCopyTextSpan = document.querySelector("#afterCopyText");

        afterCopyTextSpan.innerHTML = text;

        afterCopyTextSpan.style.visibility = "visible";

        setTimeout(() => afterCopyTextSpan.style.visibility = "hidden", ms)
    }
</script>